<div class="dsc-carousel" [ngStyle]="{'min-height': finalHeight}">
  <div class="logo-container mat-elevation-z4">
    <img
      src="./assets/images/campus-dual-azul-squared-negative.png"
      alt="Logo"
    />
  </div>
  <div class="dsc-carousel__btns">
    <button id="boton" class= "btnizq"(click)="setBack()"><mat-icon>keyboard_arrow_left</mat-icon></button>
    <button id="boton" class= "btnder"(click)="setNext()"><mat-icon>keyboard_arrow_right</mat-icon></button>
  </div>

  <div class="dsc-carousel__content">
    <ng-container *ngFor="let section of items">
      <div
        class="dsc-carousel__content-item"
        [ngStyle]="{
          'background-image': 'url(' + section.image + ')',
          'margin-left': section.marginLeft + '%'
        }"
      >
      <h4>
        {{ section.subtitle }}
      </h4>
        <h1>
          {{ section.title.first }}<span>{{ section.title.second }}</span>
        </h1>
        <p>{{section.summary}}</p>
        <button class="btnregister" (click)="onRegister()"> Regístrate <span class="fas fa-angle-right"></span></button>
      </div>
    </ng-container>
  </div>

  <div class="dsc-carousel__steps">
    <div
      class="dsc-carousel__steps-step
    dsc-carousel__steps-step-{{ currentPosition === item.id ? 'active' : '' }} "
      *ngFor="let item of items"
      (click)="setCurrentPosition(item.id)"
    ></div>
  </div>
</div>
