<div class="container-fluid px-0">
  <div class="row bg-dark h-100">
    <div class="col-12 px-0">
      <app-carousel [items]="carouselData"></app-carousel>
    </div>
  </div>
</div>
<!--
<div class="firstContainer">
    <button id="btn-izquierda"><span class="fas fa-angle-left"><mat-icon>keyboard_arrow_left</mat-icon></span></button>

    <div class="slider" >
        <div class="containerPhoto Photo1">
            <div class= "texto">
                <h2>Conoce gente <b>Nueva</b></h2>
                <h1>¡Siempre habrá un plan para ti!</h1>
                <p>Deja de lado el aburrimiento y comparte tus aficiones con nuevos amigos</p>

            </div>
            <button class="btnregister"> ¡Registrate! <span class="fas fa-angle-right"></span></button>
            <img class="photoLanding" src="../../assets/images/senderismo.jpg" alt="">
        </div>

        <div class="containerPhoto Photo2">

                <div class= "texto">
                    <h2>Descubre nuevas <b>Aficiones</b></h2>
                    <h1>¡Disfruta de nuevas experiencias!</h1>
                    <p>Muchos planes de están esperando</p>
                </div>
                <button class="btn"> ¡Registrate! <span class="fas fa-angle-right"></span></button>
                <img class="photoLanding" src="../../assets/images/yoga.jpg" alt="">

        </div>

        <div class="containerPhoto Photo3">
            <div class= "texto">
                <h2>Crea tu <b>Publicación</b></h2>
                <h1>Ecuentra con quien compartir</h1>
                <p>Otras personas podrán contactarte y unirse a tu plan</p>
            </div>
            <button class="btn"> ¡Registrate! <span class="fas fa-angle-right"></span></button>
            <img class="photoLanding" src="../../assets/images/tenis.jpg" alt="">
        </div>

        <div class="containerPhoto Photo4">
            <div class= "texto">
                <h2>Conoce gente <b>Nueva</b></h2>
                <h1>¡Siempre habrá un plan para ti!</h1>
                <p>Deja de lado el aburrimiento y comparte tus aficiones con nuevos amigos</p>
            </div>
            <button class="btn"> ¡Registrate! <span class="fas fa-angle-right"></span></button>
            <img class="photoLanding" src="../../assets/images/concierto.jpg" alt="">
        </div>

        <div class="containerPhoto Photo5">
            <div class= "texto">
                <h2>Conoce gente <b>Nueva</b></h2>
                <h1>¡Siempre habrá un plan para ti!</h1>
                <p>Deja de lado el aburrimiento y comparte tus aficiones con nuevos amigos</p>
            </div>
            <button class="btn"> ¡Registrate! <span class="fas fa-angle-right"></span></button>
            <img class="photoLanding2" src="../../assets/images/cine.jpg" alt="">
        </div>



    </div>
    <button id="btn-derecha" (click)="slidePhoto()"><span class="fas fa-angle-right"><mat-icon>keyboard_arrow_right</mat-icon></span></button>

</div>


 -->
