button {
  margin-right: 10px;
}

.mat-form-field {
  margin-right: 10px;
}

.input-content{
  width: 100%;
}

div.form-content {
  margin-bottom: 20px;
  height: calc(100vh - 206px);
  overflow: auto;
  padding: 2px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

  .mat-card-content {
  display: flex;
  margin-bottom: 16px;
  flex-direction: column;
}

.p4u-button {
  background-color: #ff8000;
  color: #ffffff;
}

.p4u-button:disabled {
  background-color: #666666;
  color: #ffffff;
  font-weight: 100;
}



















