<!-- <h2 style="text-align: center"> {{ 'demo.title' | translate }} </h2>
<ngx-charts-bar-vertical
    [view]="[1000,400]"
    [results]="saleData"
    [xAxisLabel]="'Meses'"
    [legendTitle]="'Ingresos por meses'"
    [yAxisLabel]="'Ingresos (€)'"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
    [gradient]="true">
</ngx-charts-bar-vertical> -->
<div class="page-content" style="overflow: auto; margin: -1px;">
<div class="card" style="width: 25rem;" *ngFor="let publication of publications">
    <img src="../../../assets/images/senderismo.jpg" class="card-img-top" alt="Chicago Skyscrapers"/>
    <div class="card-body">
      <h5 class="card-title">{{publication.title}}</h5>
      <p class="card-text">{{publication.content}}</p>
    </div>
    <ul class="list-group list-group-light list-group-small" style = "list-style:none;">
      <li class="list-group-item px-4">Provincia: <b>{{publication.provinceName}}</b></li>
      <li class="list-group-item px-4">Categoría: <b>{{publication.categoryName}}</b></li>
      <li class="list-group-item px-4">Fecha de plan: <b>{{publication.eventDate | date: 'dd/MM/yyyy'}}</b></li>
      <li class="list-group-item px-4">Publicado por: <b>{{publication.userLogin}}</b></li>
    </ul>
    <div class="card-body">
        <p>Contacto:</p>
      <p><b>{{publication.contact}}</b></p>
      <p><b>{{publication.optionalContact}}</b></p>
    </div>
  </div>
</div>