body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#chartdiv {
  width: 95%;
  height: 38em;
  position: relative;
  margin-left: 2em;
}

.title{
  margin-top: 87px;
  font-size: 2.2rem;
  color: #3a3530;
  text-align: center;
  position: relative;
}

.subtitle{
  text-align: left;
  position: relative;
  margin-left: 48px;
  font-size: 1.5rem;
  color: #3a3530;
}

.demo-button{
  position: relative;
  display: flex;
  margin-left: 47px;
}

.child{
  margin-left: 20px;
  margin-top: 10px;
}