.upper-menu {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    max-height: 100%;
    place-content: space-between;
    align-items: center;
  }

  button {
    margin-right: 10px;
  }
  .p4u_scroll{
    margin-left: 4em;
    margin-right: 4em;
    position: relative;
    margin-bottom: 8%;
    margin-top: 70px;
  }

  .mat-cell{

    justify-content: space-around;

  }

  .mat-header-cell {
    margin-left: 7px;
    justify-content: center;
  }

  #header{
    right: 7px;
    position: relative;
  }

  .title{
    margin-top: 87px;
    font-size: 2.2rem;
    color: #3a3530;
    text-align: center;
    position: relative;
  }

  .table-responsive{
    border-radius: 0.5pc;

  }
